<footer class="post-info">
    <span class="label label-default">Date</span>
    <span>
        {{ article.locale_date }}
    </span>
    <span class="label label-default">Category</span>
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>

    {% if PDF_PROCESSOR %}
        <span class="label label-default">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    {% endif %}

    {% include 'includes/translations.html' %}
</footer><!-- /.post-info -->
