<aside>
    <!-- about box -->
    {% include 'includes/about.html' %}

    <!-- random quote on generation by plugin -->
    {% if RANDOM_QUOTE %}
        {% include 'includes/cite.html' %}
    {% endif %}

    {% if DEMO %}
        {% include 'includes/demo.html' %}
    {% endif %}

    <section>
        <!-- categories list -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Categories</h3></li>
                {% for cat, null in categories %}
                    <li class="list-group-item">
                        <a href="{{ SITEURL }}/{{ cat.url }}">
                            <i class="glyphicon glyphicon-folder-close"></i>{{ cat }}
                        </a>
                    </li>
                {% endfor %}
        </ul>
    </section>
</aside>
